#layer-menu-box {
  position: absolute;
  top: 220px;
  left: 2%;
  width: 96%;
  max-width: 370px;
  height: 270px;
  z-index: 2;
  background-color: whitesmoke;
  overflow: auto;
  border-radius: 5px;
}

#button1 {
  position: absolute;
  top: 145px;
  left: 2%;
  z-index: 3;
  background-color: whitesmoke;
  opacity: 95%;
}

mat-form-field {
  width: 25%;
  height: 25%;
}

mat-label {
  font-size: 12px;
}

mat-option {
  font-size: 12px;
}
