<div id="layer-menu-box">
  <input type="checkbox" (click)="enableLayer($event)" checked />
  Enable Layer
  <!--<input type="checkbox" (click)="enableLayer($event)" checked value="2017" />-->
  <br>
  <br>
    Search by interval
    <br>
  <input #date1 type="date" name="date1" id="date1">
  ->
  <input #date2 type="date" name="date2" id="date2">
  <button (click)="searchByDate(date1.value, date2.value)">søg</button>
  <br>
  filter data
  <br>
  <select  #value name="seriousness" (change)="filterBy(value.value)">
    <option value="" disabled selected hidden>Filtrer efter</option>
    <optgroup #label label="Grad af ulykke" id="GaU" value="1">
      <option value="1">Mindre alvorlig ulykker</option>
      <option value="2">Alvorlig ulykker</option>
    </optgroup>
    <optgroup  label="Hverdag/Weekend" value="2" id="HW">
        <option value="3">Hverdag</option>
        <option value="4">Weekend</option>
    </optgroup>
    <optgroup  label="Ulykke type" id="UT" value="3">
      <option value="5">Blød trafikant</option>
      <option value="6">Motorkøretøj</option>
  </optgroup>

  </select>
</div>
