#layer-menu-box {
  position: absolute;
    top: 10px;
    right: 2%;
    width: 96%;
    max-width: 400px;
    height: 150px;
    z-index: 2;
    background-color: whitesmoke;
    overflow: auto;
    font-family: 'Roboto', sans-serif;

}

mat-form-field {
    width: 50%;
    height: 50%;
}

mat-label {
  font-size: 12px;
}

mat-option {
  font-size: 12px;
}

