#layer-menu-box {
  position: absolute;
    top: 10px;
    right: 2%;
    width: 96%;
    max-width: 400px;
    height: 150px;
    z-index: 1001;
    background-color: whitesmoke;
    overflow: auto;
}
