<div id="container">
  <button (click)="exit()" id="exit-btn"><fa-icon [icon]="faArrowLeft"></fa-icon></button>

  <img src="/assets/dot-marker.png" alt="green" class="marker-img" id="dot-marker"/>
  <form class="example-form auto1" id="autocomplete">
      <input type="text"
            placeholder="Søg efter en adresse"
            [formControl]="originControl"
            [matAutocomplete]="autoOrigin"
            class="example-input">
      <mat-autocomplete #autoOrigin="matAutocomplete" (optionSelected)='selectOrigin($event.option.value)'>
        <mat-option *ngFor="let address of originOptions | async" [value]="address">
          {{address.forslagstekst}}
        </mat-option>
      </mat-autocomplete>
  </form>

  <button (click)="switchAddresses()" id="switch-address-btn">
    <fa-icon [icon]="faRepeat"></fa-icon>
  </button>

  <img src="/assets/map-marker-black.png" alt="red" class="marker-img" id="pin-marker"/>
  <form class="example-form auto2" id="autocomplete">
      <input type="text"
            placeholder="Søg efter en adresse"
            [formControl]="destControl"
            [matAutocomplete]="autoDest"
            class="example-input">
      <mat-autocomplete #autoDest="matAutocomplete" (optionSelected)='selectDest($event.option.value)'>
        <mat-option *ngFor="let address of destOptions | async" [value]="address">
          {{address.forslagstekst}}
        </mat-option>
      </mat-autocomplete>
  </form>

  <div id="mode-change">
    <button (click)="controlService.changeMode()"><fa-icon [icon]="faRightLeft"></fa-icon></button>
    <span> {{ controlService.modeDesc | async }}</span>
  </div>

  <button (click)="route()" id="route-btn">
    <fa-icon [icon]="faArrowRight"></fa-icon>
  </button>
</div>
