.example-form {
  min-width: 200px;
  max-width: 350px;
  width: 100%;
  position: absolute;
  top: 35%;
  display: flex;
  justify-content: center;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-input {
    max-width: 100%;
    width: 300px;
  }

.container {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}