<form class="example-form" id="autocomplete">
    <input type="text"
           placeholder="Søg efter en adresse"
           [formControl]="control"
           [matAutocomplete]="auto"
           class="example-input">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let address of options | async" [value]="address">
        {{address.forslagstekst}}
      </mat-option>
    </mat-autocomplete>
</form>
<button (click)="test(undefined)">:></button>

<!--
<br>
<label>Søg </label><input type="text" value="{{searchValue}}" #searchInput (keyup)="updateSearchField($event)">
<br>
<div id="search-result-box" *ngIf="addresses !== undefined">
    <button (click)="clearSearch()">x</button>
    <li *ngFor="let address of addresses">
        <span (click)="select(address)">{{address.forslagstekst}}</span>
    </li>
</div>
-->